<main id="main" class="main ">
  <div class="pagetitle">
    <h1>Historial de oro</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home">Home</a></li>
        <li class="breadcrumb-item active">Historial de oro</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <h5 class="card-title mb-0 py-auto mx-2">
                  Últimos movimientos
                </h5>
              </div>
              <div class="col-4 justify-content-center">
                <h5 class="card-title  mb-0 py-auto mx-2">
                  {{(date.value?date.value.format('MMMM, YYYY'):'-') | titlecase}}
                </h5>
              </div>
              <div class="col-4 my-auto d-flex justify-content-end">
                <mat-form-field appearance="outline" class="datapicker">
                  <input matInput [matDatepicker]="dp" [formControl]="date">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
                    panelClass="example-month-picker">
                  </mat-datepicker>
                </mat-form-field>
                <div class="example-button-container ps-1">
                  <button mat-mini-fab color="disabled" (click)="disminuirMes()" style="scale: 0.8">
                    <mat-icon style="scale: 1.5">keyboard_arrow_left</mat-icon>
                  </button>
                </div>
                <div class="example-button-container pe-2">
                  <button mat-mini-fab color="disabled" (click)="aumentarMes() " style="scale: 0.8">
                    <mat-icon style="scale: 1.5">keyboard_arrow_right</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="dataTable-container dataTable-hover">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableMovimientos" matSortActive="fecha"
                matSortDirection="desc" matSort multiTemplateDataRows>
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-3 ps-3 borde-derecha"> Fecha </th>
                  <td mat-cell *matCellDef="let element" class="borde-derecha" style="text-align: center;">
                    {{(element.fecha | date: 'EEEE dd, MMM | HH:mm') | titlecase}} </td>
                </ng-container>
                <ng-container matColumnDef="reinoString">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 ps-3 borde-derecha"> Reino </th>
                  <td mat-cell *matCellDef="let element" class="borde-derecha" style="text-align: center;">
                    {{element.reinoString}} </td>
                </ng-container>
                <ng-container matColumnDef="cantOro">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 ps-3 borde-derecha"> Cantidad de
                    Oro </th>
                  <td mat-cell *matCellDef="let element" class="borde-derecha" style="text-align: center;">
                    {{element.cantOro}}K </td>
                </ng-container>
                <ng-container matColumnDef="cantUsd">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 ps-3 borde-derecha"> $$ </th>
                  <td mat-cell *matCellDef="let element" class="borde-derecha" style="text-align: center;">
                    {{(element.cantUsd?'$'+(element.cantUsd | number:'1.2-2'):'-')}} </td>
                </ng-container>
                <ng-container matColumnDef="tipoMov">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 ps-3 borde-derecha"> Tipo </th>
                  <td mat-cell *matCellDef="let element" class="borde-derecha" style="text-align: center;">
                    <div *ngIf="(element.tipoMov == 'ingreso'); else elseIngreso">
                      <div class="badge bg-success" style="min-width: 112px">
                        <mat-icon>check_circle_outline</mat-icon>
                        <span> {{element.tipoMov | titlecase}}</span>
                      </div>
                    </div>
                    <ng-template #elseIngreso>
                      <div *ngIf="(element.tipoMov == 'venta') ; else elseVenta">
                        <div class="badge bg-primary" style="min-width: 112px">
                          <mat-icon>attach_money</mat-icon>
                          <span> {{element.tipoMov | titlecase}}</span>
                        </div>
                      </div>
                      <ng-template #elseVenta class="align-items-center">
                        <div *ngIf="(element.tipoMov == 'retiro') ; else elseRetiro">
                          <div class="badge bg-danger" style="min-width: 112px">
                            <mat-icon>remove_circle_outline</mat-icon>
                            <span> {{element.tipoMov | titlecase}}</span>
                          </div>
                        </div>
                        <ng-template #elseRetiro class="align-items-center">
                          <div class="badge bg-warning"
                            style="min-width: 112px; background-color: goldenrod !important;">
                            <mat-icon>check_circle_outline</mat-icon>
                            <span> {{element.tipoMov | titlecase}}</span>
                          </div>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </td>
                </ng-container>
                <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-1 ps-3 borde-derecha"> </th>
                  <td mat-cell *matCellDef="let element" class="borde-derecha" style="text-align: center;">
                    <div *ngIf="(element.eliminable) ; else elseEliminable">
                      <button (click)="abrirModalEliminar(element)" mat-raised-button
                        style="min-width: 0px; background-color: #a40000;" class="px-1 py-0">
                        <mat-icon style="color: white" class="mat-15">delete</mat-icon>
                      </button>
                    </div>
                    <ng-template #elseEliminable>
                      <button disabled mat-raised-button style="min-width: 0px; background-color: rgb(167, 167, 167);"
                        class="px-1 py-0">
                        <mat-icon style="color: white" class="mat-15">delete</mat-icon>
                      </button>
                    </ng-template>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="tablerow" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons
                aria-label="Selecciona la página de movimientos">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <section class="section dashboard">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h2 class="card-title titulo-stats">Oro del mes</h2>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center "
                  style="height: 3.5vw; width: 3.5vw">
                  <i class="bi bi-currency-dollar" style="font-size: 1.5vw"></i>
                </div>
                <div class="ps-2">
                  <h6>{{oroMensual | number: '1.0-0'}}K
                  </h6>
                  <h5 class="card-title py-0">
                    <span>~${{getValorUSD(oroMensual) | number: '1.2-2'}}</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h2 class="card-title titulo-stats">Oro Vendido</h2>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center "
                  style="height: 3.5vw; width: 3.5vw">
                  <i class="bi bi-currency-dollar" style="font-size: 1.5vw"></i>
                </div>
                <div class="ps-2">
                  <h6>{{ oroVendido | number: '1.0-0'}}K
                  </h6>
                  <h5 class="card-title py-0">
                    <span>~${{usdX100K | number: '1.2-2'}} / 100K</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>

          <div class="card info-card revenue-card">
            <div class="card-body">
              <h2 class="card-title titulo-stats">USD del mes</h2>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center "
                  style="height: 3.5vw; width: 3.5vw">
                  <i class="bi bi-currency-dollar" style="font-size: 1.5vw"></i>
                </div>
                <div class="ps-2">
                  <h6>
                    ${{ usdConseguidos | number: '1.2-2'}}
                  </h6>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
      <div class="col-2">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h2 class="card-title titulo-stats">Filtros</h2>
            <div class="d-flex align-items-center">
              <div class="ps-2">
                <section class="example-section" [formGroup]="formTiposMov">
                  <mat-selection-list>
                    <p>
                      <mat-checkbox formControlName="ingreso" (change)="filtrarTipoMov()" color="primary">Ingreso</mat-checkbox>
                    </p>
                    <p>
                      <mat-checkbox formControlName="venta" (change)="filtrarTipoMov()" color="primary">Venta</mat-checkbox>
                    </p>
                    <p>
                      <mat-checkbox formControlName="retiro" (change)="filtrarTipoMov()" color="primary">Retiro</mat-checkbox>
                    </p>
                    <p>
                      <mat-checkbox formControlName="confirm" (change)="filtrarTipoMov()" color="primary">Confirmación</mat-checkbox>
                    </p>
                  </mat-selection-list>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="background-spinner" *ngIf="cargando">
  <mat-spinner diameter="60"></mat-spinner>
</div>
