<h1 mat-dialog-title>Cambiar valor token</h1>
<form #f="ngForm" (submit)="guardarCambios()">
  <div mat-dialog-content>
    <div class="row">
      <div>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Valor Token</mat-label>
          <input type="number" matInput autocomplete="off" onfocus="this.select()" [formControl]="formOro" required cdkFocusInitial>
        </mat-form-field>
        <mat-error *ngIf="!formOro.valid && formOro.touched">
          Por favor, ingresa un valor válido
        </mat-error>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <a mat-button (click)="cerrarModal()">Volver</a>
    <button mat-button type="submit"> Guardar</button>
  </div>
</form>

<div class="background-spinner" *ngIf="cargando">
  <mat-spinner diameter="60"></mat-spinner>
</div>
