<div class="container">
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">

      <div class="row justify-content-center">

        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
          <div *ngIf="registrado" class="alert alert-success alert-dismissible fade show " role="alert">
            <i class="bi bi-check-circle me-1"></i>
            Cuenta registrada con éxito!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div *ngIf="boolError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-octagon me-1"></i>
            {{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Iniciar sesión</h5>
                <p class="text-center small">Ingresa tu usuario y contraseña para iniciar sesión</p>
              </div>

              <form class="row g-3 autenticacion" (submit)="login()" [formGroup]="formulario">
                <div class="col-12">
                  <label for="email" class="form-label">Correo</label>
                  <input matInput type="email" name="email" class="form-control" id="email" required formControlName="email">
                </div>

                <div class="col-12">
                  <label for="password" class="form-label">Contraseña</label>
                  <input matInput type="password" name="password" class="form-control" id="password" required formControlName="password">
                  <mat-error *ngIf="formulario.touched && (formulario.controls.email.errors || formulario.controls.password.errors)">
                    <div *ngIf="formulario.controls.email.errors; else errorPassword">
                      <div *ngIf="formulario.controls.email.errors?.['required']; else errorEmailValido"> Por favor, ingrese un usuario.</div>
                      <ng-template #errorEmailValido> <div>Ingrese un usuario válido.</div> </ng-template>
                    </div>
                    <ng-template #errorPassword> <div>Ingrese una contraseña.</div> </ng-template>
                  </mat-error>
                </div>

                <div class="col-12"></div>
                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Ingresar</button>
                </div>
                <div class="col-12">
                  <p class="small mb-0">No tienes una cuenta? <a href="/register">Regístrate</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="background-spinner" *ngIf="cargando">
  <mat-spinner diameter="60"></mat-spinner>
</div>
