.textconfirm{
  font-weight: 600 !important;
  color: rgb(177, 135, 28) !important
}

.textingreso{
  font-weight: 600 !important;
  color: rgb(10, 107, 15) !important
}

.textventa{
  font-weight: 600 !important;
  color: rgb(38, 28, 177) !important
}

.textretiro{
  font-weight: 600 !important;
  color: rgb(143, 8, 8) !important
}

.texttraspaso{
  font-weight: 600 !important;
  color: rgb(43, 40, 40) !important
}
