<mat-sidenav-content class="mx-0">
  <mat-nav-list class="sidebar-nav sidebar">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Esta no es una app para RMT =)</mat-card-title>
        <mat-card-subtitle>Ta bonito el perro</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <a href="home">
      <mat-list-item class="sidebar-li nav-item">
        <a class="nav-link ">
          <i class="bi bi-grid"></i> <span>Inicio</span>
        </a>
      </mat-list-item>
    </a>
    <mat-divider></mat-divider>
    <a href="historial-oro"><mat-list-item>
      <a class="nav-link collapsed" href="historial-oro">
        <i class="bi bi-menu-button-wide"></i><span>Historial de movimientos</span>
      </a>
    </mat-list-item></a>
    <mat-divider></mat-divider>
    <mat-list-item>
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Crafting</span>
      </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <a href="ajustes"><mat-list-item>
      <a class="nav-link collapsed">
        <i class="bi bi-bar-chart"></i><span>Ajustes</span>
      </a>
    </mat-list-item></a>
  </mat-nav-list>
</mat-sidenav-content>
